{%  extends 'layouts.html'%}

{%block content%}
    <h1 style="text-align:center;">Census Data Visualisations</h1>
    <div class="test1"  style="text-align:center;">
        <p>This website provides data visualizations of census data from Australia, as of 2021. You can explore different types of data visualizations, such as population by state, median income by state, and unemployment rate by state.</p>
    </div>
     <script src="{{url_for('static',filename='main.js')}}"></script>
{%endblock content%}

