{% extends 'layouts.html' %}

{% block content %}
    <style>
        body {
            background-image: url('../static/css/background.jpg');background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;}

       h1 {
           font-size: 60px;
           margin-top: 100px;
           margin-left: 70px;
       }
   </style>


    <h1 style="text-align:left;">Census Data Visualisations</h1>
    <p class="p1">The website offers a collection of interactive data visualisations showcasing various census insights pertinent to Australia as of 2021. It presents an opportunity to delve into a diverse array of topics including, and limited to, Population, Education, and Core Activity Need for Assistance, allowing users to gain a deeper understanding of demographic trends and societal dynamics. However, it's important to note that while the data visualisations offer valuable insights, they might not capture the entirety of complex socio-economic realities. Interpretations should consider potential biases in data collection, potential limitations in representativeness as well as quantity, and the evolving nature of demographics beyond the snapshot provided by the 2021 census.</p>
    <div class="inline-container">
        <p class="p2">Don't know how to navigate the site?</p>
        <a href="https://www.youtube.com/playlist?list=PL-q_w5eVx7PCjQ5Cad3PbFPhf2lJ8MOq8" class="button">Click Here</a>
    </div>
<!--
    <div class="test1"  style="text-align:center;">
        <p>This website provides data visualizations of census data from Australia, as of 2021. You can explore different types of data visualizations, such as population by state, median income by state, and unemployment rate by state.</p>
    </div>
     <script src="{{url_for('static',filename='main.js')}}"></script>
-->

{% endblock content %}
